<!DOCTYPE html>
<html>
<head>
  <title>MicroBlogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "layouts/navbar", locals: {user: @user} %>
  <div class="container body">
    <%= yield %>
  </div>

</body>
</html>
